@import url("https://fonts.googleapis.com/css?family=Sofia");
.PostView{
    display:block;
}
.form1{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 1000px;
    background-color: white;
    border-radius: 30px;
    padding: 10px 10px 10px 10px;
    box-shadow: 1px 1px 5px 1px #c8b9cf
}
.wrapper1{
    display: flex;
}

.uploadImage1{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: 500px;
    border-radius: 30px;

}

.frameImage1 img{
    width: 100%;
    height: auto;
    border-radius: 30px;
}

.imageContent1{
    display: block;
    margin-right: 0;
    width: 500px;
    position: relative;
}
.ContainerButtonSave{
    display: flex;
    margin-left: 40px;
    margin-top: 10px;
    position: relative;
}

.buttonProfile{
    background-color: rgba(193, 182, 194, 0.719); 
    color: rgb(0, 0, 0); 
    border-radius: 30px;
    font-weight: bold;
    border: none;
    width: 80px;
    height: 40px;
    align-items: center;
    margin-left: 10px;
    position: relative;
}

.buttonProfile:hover {
    background-color:black; 
    color: white;
    }

.buttonSave{
    background-color: crimson;; 
    color: rgb(254, 254, 254); 
    border-radius: 40px;
    font-weight: bold;
    border: none;
    width: 70px;
    height: 40px;
    position: relative;
}

.buttonSave:hover {
    background-color:black; 
    color: white;
    }

.postTitle label{
    position: absolute;
    margin-top: 20px;
    margin-left: 40px;
    width: 400px;
    font-size: 35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    word-wrap: break-word ;
    position: relative;
}

.upLoadBy{
    display: flex;
    height: 40px;
    margin-top: 20px;
    margin-left: 12px;
    padding-left: 30px;
    position: relative;
}

.upLoadBy img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    position: relative;
}

.upLoadBy label{
    font-size: 17px;
    height: 30px;
    width: 235px;
    color:rgb(107, 90, 131);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    letter-spacing: 0.1px;
    margin-top: 10px;
    margin-left: 17px;
    word-wrap: break-word ;
}


.buttonFollow{
    background-color: rgba(193, 182, 194, 0.719); 
    color: rgb(0, 0, 0); 
    border-radius: 30px;
    font-weight: bold;
    border: none;
    width: 90px;
    height: 40px;
}

.buttonFollow:hover {
    background-color:black; 
    color: white;
    }

.comment{
    margin-left: 40px;
    margin-top: 35px;
    display: block;
    position: relative;
}

.comment input{
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 50px;
    border-radius: 50px;
    display: grid;
    padding: 0 0.4rem;
    border: 1px solid #8b9daf;
    position: relative;
    background: none;
    outline: none;
    width: 410px;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}
.submitComment{
    display: flex;
    margin-left: 240px;
    margin-top: 30px;
    position: relative;
}

.doneComment{
    background-color: rgba(193, 182, 194, 0.719); 
    color: rgb(0, 0, 0); 
    border-radius: 30px;
    font-weight: bold;
    border: none;
    width: 90px;
    height: 30px;
    position: relative;
}

.doneComment:hover {
    background-color:black; 
    color: white;
}

.dropComment{
    background-color: rgba(193, 182, 194, 0.719); 
    color: rgb(0, 0, 0); 
    border-radius: 30px;
    font-weight: bold;
    border: none;
    width: 90px;
    height: 30px;
    margin-left: 20px;
    position: relative;
}

.dropComment:hover {
    background-color:black; 
    color: white;
    }

.commentUser{
    display: block;
    margin-bottom: 10px;
    margin-left: 40px;
}

.commentTitle{
    margin-bottom: 25px;
    font-size: 20px;
    position: relative;
    color:crimson;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}


.enterComment{
    display: flex;

}

.ContentComment{
    display: block;
    
}

.enterComment img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0.5px solid #8b9daf;
    position: relative;
}

.ContentComment{
    display: block;
    margin-left: 12px;
}

.commentContent{
    display: flex;
}

.commentContent p{
    font-size: 14px;
    width: 350px;
    color:rgb(43, 36, 52);
    word-wrap: break-word ;
    font-family:Georgia, serif;
    letter-spacing: 0.4px;
}

.commentContent p a{
    font-size: 14px;
    width: auto;
    color:rgb(43, 36, 52);
    font-weight: bold;
    font-family:Georgia, serif;
}

.heartEffect{
    display: flex;
    margin-top: -15px;    
}

.heart{
    margin-left:1px;
    margin-bottom: 1px;
    width: 13px;
    height: 13px;
    color: #8b9daf;
}
.redcolor{
    color: red;
}

.heartEffect button{
    background-color: white;
    width: 23px;
    height: 23px;
    border: none;
    border-radius: 50%;
    align-items: center;
}

/* .heartEffect button:hover {
    background-color:rgb(241, 228, 228);
    color: white;
} */


.heartEffect p{
    margin-left: 2px;
    margin-top: 2px;
    font-size: 14px;
    color:#8b9daf;
    /* font-family: "Sofia", sans-serif; */
    font-family: Georgia, serif;
}

.showComment{
    background-color: rgba(193, 182, 194, 0.719); 
    color: rgb(0, 0, 0); 
    border-radius: 30px;
    font-weight: bold;
    border: none;
    width: 100px;
    height: 30px;
    position: relative;
}

.showComment:hover {
    background-color:black; 
    color: white;
}

.posts{
    margin-top: 15px;
    width: 100%;
    height:100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menuImage1{
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
    -webkit-column-width: 20%;
    -moz-column-width: 20%;
    column-width: 20%;
    padding: 0 12px;
}
.menuImage1 .pics1{
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 12px;
    

}

.menuImage1 .pics1:hover{
    filter: opacity(.8);
}

.imagemenu1{
    width: 100%;
    border-radius: 15px;
    
}

@media (max-width: 991px) {
    .menuImage1{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
        
    }
    
}
@media (max-width: 800px) {
    .menuImage1{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
        
    }
}
@media (max-width: 450px) {
    .menuImage1{
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
        
    }
    
}
/*model*/
.model1{
    width: 100%;
    height: 100vh;
    position:fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: opacity .4s ease, visibility .4s ease, transform .5s ease;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 999;
}
.model1.open{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.model1 img{
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 20px 0 20px;
    margin: auto;
}
.model1.open svg{
    position: fixed;
    top: 10px;
    right: 10px;
    width: 2rem;
    height: 2rem;
    padding: 5px;
    background-color: white;
    color: black ;
    cursor: pointer;
}