.containerSettingPF{
    height: 100%;
    width: 100%;
    background-color: #e9e9e9;
    display: flex;
    align-items: center;

}
.containerBoxSetting{
    width: 65%;
    height: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    min-width: 500px;
}
.settingPFBox{
    width: 100%;
    height: 100%;
    margin: auto;
    background-color:white;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}
.titleSettingPF{
    display: flex;
    margin-top: 10px;
    padding-left: 100px;
    padding-right: 50px;
}
.iconSetting{
    color:rgba(0,132,255,0.5) ;
    font-size: 18px;
    margin-left: 10px;
}
.h3TitleSetiingPF{
    color: black;
    font-size: 18px;
    margin-left: 10px;
    font-weight: bolder;

}
.infoSettingPF{
    margin-top: 20px;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    justify-content: center;
}
.avatarSettingPF{
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    
}
.avatarContainer{
    width: 160px;
    height: 160px;
    
     margin: auto;
}
.avatarChange{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:50%;
    margin: auto;
    
}
.buttonIconCamera{
    height: 50px;
    width: 100px;
    justify-content: center;
    border:none;
    display: flex;
    align-items: center;
    background-color: transparent;
    left: 15px;
    top: 10px;
    border-radius: 50%;

}
.iconCamera{
    /* color: rgba(0,132,255,0.5) ; */
    font-size: 1.5rem;
}
.buttonIconCamera:hover{
    background-color:#fff ;
}
.ContainerButtonChange{
    margin-left: 4px;
    margin-right: 4px;
    display: flex;
    justify-content: center;
   
}
.buttonChange {
    
        background-color: white; 
        border: 2px solid rgba(0,132,255,0.5);
      
        padding: 4px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        transition-duration: 0.4s;
        cursor: pointer;    
        justify-content: center;
        display: flex;
        font-size: 14px;
        font-weight: bolder;
           
  }
  .buttonchangeImage {
    background-color: white; 
    color: rgba(0,132,255,0.5) ;
    border-radius: 40px;
  }
  .buttonChange:hover {
    background-color: rgba(0,132,255,0.5); 
    color:white;
    
  }

.infoUserSettingPF{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}
.formSetting{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-left: 20px;
    padding-right: 20px;
}
.labelSettingPF{
    font-size: 14px;
    color:#cdcdcd;

    
}
.containerInputSetting{
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;

}
.containerInputSetting .dataInputSetting{
    height: 40px;
    width: 100%;
    position: relative;

}
.eyeBtn{
    position:absolute;
    border: none;
    outline: none;
    top: 25%;
    right: 5px;
    cursor: pointer;
}
.eyeIcon{
    color: #767676;
    font-size: 14px;

}
.containerInputSetting .dataInputSetting input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 14px;
    border-bottom: 2px solid  #cdcdcd;
    outline: none;
}


.dataInputSetting input:focus ~ label,
.dataInputSetting input:valid ~ label{
    transform: translateY(-20px);
    font-size: 12px;
    color:rgba(0,132,255,0.5) ;

}
.containerInputSetting .dataInputSetting label{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
}
.containerInputSetting .dataInputSetting .underline{
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 100%;
    
}
.dataInputSetting .underline:before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(0,132,255,0.5);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.dataInputSetting input:focus ~ .underline:before ,
.dataInputSetting input:valid ~ .underline:before{
    transform: scaleX(1);
}


.containerInputSetting .dataInputSettingBD input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 14px;
    border: 2px solid  #cdcdcd;
    outline: none;
}


.dataInputSettingBD input:focus ~ label,
.dataInputSettingBD input:valid ~ label{
    transform: translateY(-20px);
    font-size: 12px;
    color:rgba(0,132,255,0.5) ;

}
.containerInputSetting .dataInputSettingBD label{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
}
.containerInputSetting .dataInputSettingBD .underline{
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 100%;
    
}
.dataInputSettingBD .underline:before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(0,132,255,0.5);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.dataInputSetting input:focus ~ .underline:before ,
.dataInputSetting input:valid ~ .underline:before{
    transform: scaleX(1);
}

.infoSettingPFAbout{
    margin-top: 12px;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    justify-content: center;
    
}
.textareaAbout{
    width: 100%;
    height: 100%;
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid rgba(0,132,255,0.5);
    outline: none;
    font-size: 14px;
}
.textareaAbout::placeholder{
    color: grey ;
    font-size: 14px;
}


.BoxbuttonSettingPF{
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 10px 100px;

}
.ContainerButtonSettingPF{
    margin-left: 2px;
    margin-right: 2px;
}
.buttonSettingPF {
    
        background-color: white; 
        border: none;
        color: black;
        padding: 10px 14px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        transition-duration: 0.4s;
        cursor: pointer;
        font-size: 14px;
        font-weight: bolder;
}


.buttonReset{
background-color: white; 
color: black; 
border-radius: 40px;

}
.buttonReset:hover {
    background-color: #e60023; 
    color: white;
}
.buttonSave {
    background-color: white; 
    color: black; 
    border-radius: 40px;
}
.buttonSave:hover {
    background-color: rgba(0,132,255,0.5); 
    color: white;
}





/*-------------------------*/
