@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    min-height: 100vh;
    background-color: dodgerblue;
}
.custom-control-label {
    font-weight: 400;
  }

.Applogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  
} 

section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(0,0,0,0.4);
}

form {
    display: flex;
    flex-direction: column;
    
}




 