@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,100&display=swap');


:root{
 --primary:#fe2c55;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{ 
    font-size: 62.5%;

}

body{
    font-family: 'Montserrat', sans-serif;
}


