
  @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(0,0,0,0.4);
}


form{
  background-color: white;
  padding: 0px 60px;
  border-radius: 10px;
}

input{
  padding: 15px;
  margin: 10px 0px;
  border-radius: 5px;
  border: 1px solid rgb(2, 0, 0);
}


h3{
  color: rgb(10, 4, 10);
  text-align: center;
  
}

.buttonSignup{
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: rebeccapurple;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}




