@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    box-sizing: border-box;

}

/* .body {
    min-height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px 0px;

} */

.Appsignup {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 32%;
    transition: 1s 0.7s ease-in-out;
    grid-template-columns: 1fr;
    padding-top: 30px;
    border-radius: 60px;
    justify-content: center;
    height: 700px;
    box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
    padding-top: 30px;
    background: rgb(231, 225, 214);

}

.info {
    justify-content: center;
    align-items: center;

    display: flex;


}

.iconInfo {
    height: 80px;
    width: 80px;
    justify-content: center;
    align-items: center;
    color: #0b0b0b;
}

.iconName {
    position: absolute;
    top: calc(31.5%);
    left: 24%;
}

.iconPhone {
    position: absolute;
    top: calc(41%);
    left: 24%;
}

.iconLocation {
    position: absolute;
    top: calc(49.5%);
    left: 24%;
}

.iconEmail {
    position: absolute;
    top: calc(59%);
    left: 24%;
}

.iconLock {
    position: absolute;
    top: calc(68%);
    left: 24%;
}


.signup-heading {
    font-size: 50px;
    font-weight: bold;
    color: #0b0b0b;
    text-align: center;
    margin-bottom: 30px;

}

.signup-label {
    font-size: 16px;
    color: #0b0b0b;
    font-weight: 500;
    display: inline-block;
    cursor: pointer;
    margin-left: 10%;
    margin-bottom: 2px;
    margin-top: 2px;
}

.signup-input {
    margin-top: 10px 0;
    height: 55px;
    border-radius: 55px;
    padding: 0 0.4rem;
    position: relative;
    background: none;
    outline: none;
    width: 320px;
    font-weight: 600;
    font-size: 1.1rem;
    border-color: #0b0b0b;
    padding-left: 3rem;
    margin-left: 17%;
    margin-top: 5px;
}

.signup-label_pass {
    margin-left: 33%;
    margin-top: 5px;
}

.btn- {
    margin-left: 22%;
    width: 350px;
    margin-top: 10px;
}

.custom-control-input {
    right: 40%;
    justify-items: center;
}

.mb-4 {
    width: 50%;
    right: 20%;
    margin-left: 62%;
}

.textcontent_su {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-right: 30px;
}