.WrapperMainpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}



.containerMainPage{
    width: 100%;
    height: 100% ;
    display: flex;
    overflow: hidden;
    

}
.contentMainPage{
    width: 100%;
    height: 100%;
    
}