.wrapperPP{
    width: 100%;
    background:white;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 14px;
    padding-top: 8px;
    border-radius: 8px;
    max-height: min((100vh - 96px) - 60px, 734px);
    min-height: 100px;
}